*{
    margin: 0;
    padding: 0;
    /* Ajusta proporcionalemnte padding y margenes al cambiar de tamaño los elementos */
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
body header {
    height: 20%;
    background-color:black;
    position: sticky;
    top: 0;
}
body header div{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 3px;
    border-color: coral;
}
body header div h1{
    color:cornsilk
}
body header div p{
    color:bisque
}
body main{
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100vh
    
}
body main .ingreso{
    display:flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
    background-color:cornsilk;
    border: 3px solid darkred ;
    
}    
body main .ingreso h2{
    color:darkslategrey;
    margin-bottom: 2rem;
    text-align: center;
}
body main .ingreso form{
    height:50%;
}

body main .ingreso .formulario{
    display:flex;
    flex-direction: column;
}
body main .ingreso form .formulario-linea {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
body main .ingreso form .botonera-linea{
    display: flex;
    justify-content: space-between;
    gap: 1rem; /* Espacio entre los botones */
    margin-top: 1rem;
}
body main .ingreso form .botonera-linea button {
    flex: 1; /* Cada botón ocupa el mismo ancho */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body main .ingreso form .botonera-linea button:hover {
    background-color: crimson;
}

body main .ingreso form .formulario-linea label{
    width: 200px; /* Fijamos ancho para alinear todos los labels */
    margin-right: 1rem;
}

body main .ingreso form .formulario-linea label, .formulario-linea input {
    margin-bottom: 10px;
    
}
body main .ingreso form .formulario-linea input {
    flex: 1; /* Ocupa el espacio restante */
    padding: 0.5rem;
}
  

body main .tablax{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 3px solid darkred;
    width: 50%;
    height: 100%;
}
body main .tablax table {
    width: 100%; /* Opcional: ajusta el ancho */
    border-collapse: collapse; /* Para que los bordes no se dupliquen */
}

body main .tablax th {
    border: 2px solid black; /* Borde negro de 2px */
    padding: 4px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
}
body main .tablax td {
    border: 2px solid black; /* Borde negro de 2px */
    padding: 4px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
}
